* {
    margin: 0; /* Obrigatório. Evita comportamentos inesperados do navegador */
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: var(--text);
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between; /* separa logo e menu */
    align-items: center; /* alinha verticalmente */
    padding: 20px 40px;
    background-color: var(--secondary-color);
    border-bottom: 1px solid #e2e8f0;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

header h1 {
    font-size: 14px;
}

header h2 {
    font-size: 14px;
    font-weight: normal; 
    color: #666;
}

nav ul {
    display: flex;
    list-style: none; 
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 40px;
}

#sobre {
    max-width: 800px; /*evita linhas muito longas*/
    margin-bottom: 40px; /* separa da próxima seção */
}

#sobre h3 {
    font-size: 22px;
    margin-bottom: 16px;
}

#sobre p {
    font-size: 16px;
    line-height: 1.7; /* tipografia mais legível */
    color: #444;
}

#habilidades {
    margin-top: 40px;
}

.skills {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.card {
    padding: 20px 30px;
    background-color: #ffffff;
    border: 1px solid #e2e8f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease;
    border-radius: 8px;
    font-weight: bold;
}

.card:hover {
    transform: translateY(-4px);
    cursor: pointer;
}

@media (min-width: 768px) {

    header {
        flex-direction: row;
        text-align: left;
    }

    .skills {
        flex-direction: row;
    }
}

:root {
    --primary-color: #2b6cb0;
    --secondary-color: #edf2f7;
    --text: #2d3748;
}

h1, h2, h3, p {
    color: var(--text);
}


h3 {
    border-left: 4px solid var(--primary-color);
    padding-left: 10px;
}