* {
    margin: 0; /* Obrigatório. Evita comportamentos inesperados do navegador */
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between; /* separa logo e menu */
    align-items: center; /* alinha verticalmente */
    padding: 20px 40px;
    background-color: #f5f5f5;
}

header h1 {
    font-size: 14px;
}

header h2 {
    font-size: 14px;
    font-weight: normal; 
    color: #666;
}

nav ul {
    display: flex;
    list-style: none; 
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #0077cc; /* Cor ao passar o mouse */
}

main {
    padding: 40px;
}

#sobre {
    max-width: 800px; /*evita linhas muito longas*/
    margin-bottom: 40px; /* separa da próxima seção */
}

#sobre h3 {
    font-size: 22px;
    margin-bottom: 16px;
}

#sobre p {
    font-size: 16px;
    line-height: 1.7; /* tipografia mais legível */
    color: #444;
}

#habilidades {
    margin-top: 40px;
}

.skills {
    display: flex;
    gap: 20px;
}

.card {
    padding: 20px 30px;
    background-color: #f5f5f5;
    border-radius: 8px;
    font-weight: bold;
}

.card:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}